/* Based on https://www.tiny.cloud/blog/css-glitch-effect/ */

.glitch:hover {
  text-shadow: 0.05em 0 0 var(--glitch1), -0.03em -0.04em 0 var(--glitch3),
    0.025em 0.04em 0 var(--glitch2);
  animation: glitch 725ms infinite;
}


@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 var(--glitch1), -0.03em -0.04em 0 var(--glitch3),
      0.025em 0.04em 0 var(--glitch2);
  }
  15% {
    text-shadow: 0.05em 0 0 var(--glitch1), -0.03em -0.04em 0 var(--glitch3),
      0.025em 0.04em 0 var(--glitch2);
  }
  16% {
    text-shadow: -0.05em -0.025em 0 var(--glitch1), 0.025em 0.035em 0 var(--glitch3),
      -0.05em -0.05em 0 var(--glitch2);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 var(--glitch1), 0.025em 0.035em 0 var(--glitch3),
      -0.05em -0.05em 0 var(--glitch2);
  }
  50% {
    text-shadow: 0.05em 0.035em 0 var(--glitch1), 0.03em 0 0 var(--glitch3),
      0 -0.04em 0 var(--glitch2);
  }
  99% {
    text-shadow: 0.05em 0.035em 0 var(--glitch1), 0.03em 0 0 var(--glitch3),
      0 -0.04em 0 var(--glitch2);
  }
  100% {
    text-shadow: -0.05em 0 0 var(--glitch1), -0.025em -0.04em 0 var(--glitch3),
      -0.04em -0.025em 0 var(--glitch2);
  }
}


