.leader_header {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;

    color: blueviolet;
    font-family: topazplus;
    padding: 100px;
}

.leader_item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
}

.leaderEle {
    max-width: 20vw;
    text-align: center;
}

.leader_pic {
    width: calc(4vw + 4vh);
}

.leader_container {
    --corner_size: calc(3vw + 3vh);
    --corner_move: calc(-0.5 * var(--corner_size));
    --border_size: 10px;
    --packet_size: 10px;
    --packet_color: SpringGreen;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 1vw;
    position: relative;
}

@media (min-width: 768px) {
    .leader_container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1024px) {
    .leader_container {
        grid-template-columns: repeat(5, 1fr);
    }
}

.corner {
    position: absolute;
    width: var(--corner_size);
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
    transition: filter 0.15s ease;

    /* routers show over the packets */
    z-index: 1;
}

#top-left {
    top: var(--corner_move);
    left: var(--corner_move);
}
#top-right {
    top: var(--corner_move);
    right: var(--corner_move);
}
#bottom-left {
    bottom: var(--corner_move);
    left: var(--corner_move);
}
#bottom-right {
    bottom: var(--corner_move);
    right: var(--corner_move);
}

.packet {
    position: absolute;
    width: var(--packet_size);
    height: var(--border_size);
    background-color: var(--packet_color);
}