/* 
Global style sheet
*/



/* From https://github.com/rewtnull/amigafonts */
@font-face {
    font-family: "topazplus";
    src: url("../fonts/topazplus500.ttf") format("truetype");
}

/* From https://befonts.com/feature-mono-font-family.html */
@font-face {
    font-family: "featuremono";
    src: url("../fonts/featuremonogx.ttf") format("truetype");
}

/* https://www.w3schools.com/colors/colors_hsl.asp */
:root {
    --yellow: hsl(59, 100%, 50%);
    --gold: hsl(45, 100%, 60%);

    --cyan: hsl(190, 100%, 50%);
    --blue: hsl(234, 47%, 66%);
    --dark-blue: hsl(235, 32%, 43%);
    --indigo: hsl(197, 100%, 44%);
    --dark-indigo: hsl(274, 81%, 12%);
    --blueviolet: hsl(271, 76%, 53%);

    --purple: hsl(240, 60%, 76%);
    --tran-purple: hsl(from var(--purple) h s l / 0.5);
    --dark-purple: hsl(264, 54%, 35%);
    --purple2: hsl(297, 41%, 46%);
    --dark-purple2: hsl(296, 41%, 26%);

    --light-green: hsl(140, 99%, 76%);
    --green: hsl(136, 87%, 51%);
    --dark-green: hsl(135, 81%, 29%);
    --spring-green: hsl(150, 100%, 50%);
    --aquamarine: hsl(160, 100%, 75%);

    --orange: hsl(39, 100%, 50%);
    --red: hsl(4, 90%, 58%);
    --pink: hsl(345, 94%, 67%);
    --dark-pink: hsl(345, 63%, 43%);
    --pink2: hsl(326, 49%, 68%);
    --dark-pink2: hsl(326, 36%, 40%);
    --neon-magenta: hsl(320, 100%, 50%);
    --fuchsia: hsl(300, 100%, 50%);

    --white: hsl(0, 0%, 100%);
    --light-grey: hsl(0, 0%, 88%);
    --grey: hsl(0, 0%, 50%);
    --black: hsl(0, 0%, 0%);


    --poly-purple: #4f1c82;
    --cyber-blue: #00a1e0;
    --pixel-purple: #b096df;
    --python-plum: #2f1b4b;
    --tech-slate: #a7b4c3;
    --graphite-gray: #585f65;


    /* For clip-path: */
    --corner-fold: polygon(0 0, 100% 0, 100% calc(100% - 30px), calc(100% - 30px) 100%, 0 100%);
    --hex-cut: polygon(-50% 50%, 50% 100%, 150% 50%,50% 0);


    --sidebar-width: 300px;
    --button-size: 60px;

    --max_width: 1200px;
    --max_width2: 1800px;
    --small_button_size: 80px;
}

body {
    background: var(--black);

    /* disables horizontal scrolling  */
    overflow-x: hidden; 
}


/* Hover animation inspired by https://ianlunn.github.io/Hover/ */

.hover_bounce:hover {
    transition: transform 0.3s ease-out;
    transform: scale(0.9);
}

.hover_bounce {
    transition: transform 0.3s ease-out;
    transform: scale(1);
}

button:disabled {
    background-color: var(--light-grey);
    color: var(--grey);
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

img, video {
    /* To make not highlightable */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.circle-image {
    clip-path: circle(50%);
    object-fit: cover;
}

/* Based on https://www.tiny.cloud/blog/css-glitch-effect/ */

.glitch:hover {
  text-shadow: 0.05em 0 0 var(--cyan), -0.03em -0.04em 0 var(--fuchsia),
    0.025em 0.04em 0 var(--yellow);
  animation: glitch 725ms infinite;
}


@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 var(--cyan), -0.03em -0.04em 0 var(--fuchsia),
      0.025em 0.04em 0 var(--yellow);
  }
  15% {
    text-shadow: 0.05em 0 0 var(--cyan), -0.03em -0.04em 0 var(--fuchsia),
      0.025em 0.04em 0 var(--yellow);
  }
  16% {
    text-shadow: -0.05em -0.025em 0 var(--cyan), 0.025em 0.035em 0 var(--fuchsia),
      -0.05em -0.05em 0 var(--yellow);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 var(--cyan), 0.025em 0.035em 0 var(--fuchsia),
      -0.05em -0.05em 0 var(--yellow);
  }
  50% {
    text-shadow: 0.05em 0.035em 0 var(--cyan), 0.03em 0 0 var(--fuchsia),
      0 -0.04em 0 var(--yellow);
  }
  99% {
    text-shadow: 0.05em 0.035em 0 var(--cyan), 0.03em 0 0 var(--fuchsia),
      0 -0.04em 0 var(--yellow);
  }
  100% {
    text-shadow: -0.05em 0 0 var(--cyan), -0.025em -0.04em 0 var(--fuchsia),
      -0.04em -0.025em 0 var(--yellow);
  }
}
