/* 
Global style sheet
*/



/* From https://github.com/rewtnull/amigafonts */
@font-face {
    font-family: "topazplus";
    src: url("../fonts/topazplus500.ttf") format("truetype");
}

/* From https://befonts.com/feature-mono-font-family.html */
@font-face {
    font-family: "featuremono";
    src: url("../fonts/featuremonogx.ttf") format("truetype");
}



/* https://www.w3schools.com/colors/colors_hsl.asp */
:root {
    --purple: hsl(240, 60%, 76%);
    --border: hsl(240, 60%, 76%, 0.5);
    --iconbg: hsl(264, 51%, 36%);
    --glow-purple: 0 0 8px hsl(240, 60%, 76%, 0.8),
        0 0 20px hsl(240, 60%, 76%, 0.8);
    --bg-body: hsl(0, 0%, 0%);
    --bg-sidebar: hsl(0, 0%, 0%);
    --sidebar-width: 300px;
    --button-size: 60px;

    --glitch1: hsl(179, 100%, 50%);
    --glitch2: hsl(59, 100%, 50%);
    --glitch3: hsl(299, 100%, 50%);

    --max_width: 1200px;
    --small_button_size: 80px;
}

body {
    background: var(--bg-body);

    /* disables horizontal scrolling  */
    overflow-x: hidden; 
}


.container {
    display: grid;
    grid-template-areas:
        "navbar navbar"
        "left right"
        "footer footer";
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    background-color: #50298a;
    padding: 10px;
}

.container div {
    background-color: white;
    padding: 10px;
    font-family: topazplus;
}

.container div.navbar {
    background-color: #220638;
    grid-area: navbar;
}

.container div.left {
    grid-area: left;
}

.container div.right {
    grid-area: right;
}

.container div.footer {
    grid-area: footer;
    text-align: center;
}

/* Hover animation inspired by https://ianlunn.github.io/Hover/ */

.hover_bounce:hover {
    transition: transform 0.3s ease-out;
    transform: scale(0.9);
}

.hover_bounce {
    transition: transform 0.3s ease-out;
    transform: scale(1);
}

button:disabled {
    background-color: #e0e0e0;
    color: #a0a0a0;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

img, video {
    /* To make not highlightable */
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
}

.circle-image {
    clip-path: circle(50%);
    object-fit: cover;
}

/* Based on https://www.tiny.cloud/blog/css-glitch-effect/ */

.glitch:hover {
  text-shadow: 0.05em 0 0 var(--glitch1), -0.03em -0.04em 0 var(--glitch3),
    0.025em 0.04em 0 var(--glitch2);
  animation: glitch 725ms infinite;
}


@keyframes glitch {
  0% {
    text-shadow: 0.05em 0 0 var(--glitch1), -0.03em -0.04em 0 var(--glitch3),
      0.025em 0.04em 0 var(--glitch2);
  }
  15% {
    text-shadow: 0.05em 0 0 var(--glitch1), -0.03em -0.04em 0 var(--glitch3),
      0.025em 0.04em 0 var(--glitch2);
  }
  16% {
    text-shadow: -0.05em -0.025em 0 var(--glitch1), 0.025em 0.035em 0 var(--glitch3),
      -0.05em -0.05em 0 var(--glitch2);
  }
  49% {
    text-shadow: -0.05em -0.025em 0 var(--glitch1), 0.025em 0.035em 0 var(--glitch3),
      -0.05em -0.05em 0 var(--glitch2);
  }
  50% {
    text-shadow: 0.05em 0.035em 0 var(--glitch1), 0.03em 0 0 var(--glitch3),
      0 -0.04em 0 var(--glitch2);
  }
  99% {
    text-shadow: 0.05em 0.035em 0 var(--glitch1), 0.03em 0 0 var(--glitch3),
      0 -0.04em 0 var(--glitch2);
  }
  100% {
    text-shadow: -0.05em 0 0 var(--glitch1), -0.025em -0.04em 0 var(--glitch3),
      -0.04em -0.025em 0 var(--glitch2);
  }
}
