<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/components/tabs/tabs.css">
    <script type="module" src="/components/tabs/tabs.js"></script>

</head>
<body>
    <style>
        h1, h3 {
            color: white;
            text-align: center;
        }
    </style>

    <doc-tab>
        <h1 title="title1"> html body 1</h1>
        <h1 title="title2"> html body 2</h1>
        <h3 title="title3"> html body 3</h3>
    </doc-tab>
    
</body>
</html>