<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/components/popup/popup.css">
    <script type="module" src="/components/popup/popup.js"></script>
</head>
<body>
    <pop-up title="IST-1028 Location">
        <a slot="button" style="text-decoration: underline; cursor: pointer; color: white;"> IST-1028: click to view</a>
        <img src="/assets/location.jpg" alt="IST-1028" loading="lazy">
    </pop-up>
    
</body>
</html>