<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/components/cards/cards.css">
    <script type="module" src="/components/cards/cards.js"></script>
</head>
<body>
<list-cards>
    <data src="/assets/meetings/Solaris.png" name="General Team Meetings" time="Mondays @ 5:30pm" color="var(--purple)">
        Join our general meetings to hang out and connect with fellow students! 
        We offer the latest club updates and hands-on cybersecurity workshops to level up your skills.  
    </data>
    <data src="/assets/meetings/Solaris.png" name="Blue Team Meetings" time="Wednesdays @ 5:30pm" color="var(--cyan)">
        Level up your defensive skills through competitions. 
        Learn about protecting against attacks, detecting malicious activity and responding to incidents.    </data>
    <data src="/assets/meetings/Solaris.png" name="Red Team Meetings" time="Fridays @ 5:30pm" color="var(--red)">
        Learn the art of "ethical" hacking. 
        Master reverse engineering, exploit development, and vulnerability scanning through CTF competitions and real systems.
    </data>
    <data src="/assets/meetings/Solaris.png" name="Hardware Project" time="To be Anounced" color="var(--orange)">
        Hack a real Chinese security camera! 
        Take part in firmware reverse engineering, credential harvesting, traffic decryption and discover vulnerabilities.
    </data>
    <data src="/assets/meetings/Solaris.png" name="Website Project" time="To be Anounced" color="var(--neon-magenta)">
        Help contribute to our club’s website and backend using HTML/CSS/JS and python flask. 
        We are beginner friendly, and open to any contributions.
    </data>
</list-cards>
</body>
</html>