<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/components/slideshow/slideshow.css">
    <script type="module" src="/components/slideshow/slideshow.js"></script>
</head>
<body>
    <slide-show>
        <img alt="Involve" src="/assets/connected/involve_8bit.png">
        <img alt="Instagram" src="/assets/connected/instagram_8bit.png">
    </slide-show>
    
</body>
</html>