<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/components/slideshow/slideshow.css">
    <script type="module" src="/components/slideshow/slideshow.js"></script>
</head>
<body>
    <slide-show items='[
        {"title": "CCDC Regionals", "img": "/assets/pics/CCDC_Regionals_2026.jpg"},
        {"title": "Sunshine CTF", "img": "/assets/pics/Sunshine_CTF_2026.jpg"}
            ]'>
    </slide-show>
    
</body>
</html>