/* Creating a hexagon https://css-shape.com/hexagon/ */

.logo-hex svg {
	position: relative;
	width: 6rem;
	height: 6rem;
	clip-path: var(--hex-cut);
	background: var(--dark-purple);
}

.logo-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;	
}
.logo-hex {
  	position: relative;
  	display: inline-block;
}

#logo{
	width: 100px;
	height: 100px;
	will-change: transform;
}

.logo-hex-underline:hover {
	filter: drop-shadow(0 0 8px var(--tran-purple)) drop-shadow(0 0 20px var(--tran-purple));
}