/* Hamburger Icon Below
to X transition from https://codepen.io/TheeBryanWhite/pen/KwdWQP */

.sidebar-button {
	position: fixed;
	top: 1rem;
	left: 1rem;
	z-index: 200;
	width: var(--button-size);
	height: var(--button-size);
	background: var(--black);
	border: 1px solid var(--tran-purple);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 5px;
	padding: 0;
	transition: box-shadow 0.3s ease;
}

#sidebarSVG {
    display: block;
    width: 80%;
    height: 80%;
    background: transparent; 
    overflow: visible;
	pointer-events: none;
	will-change: transform;
}


/* Logo for the sidebar Below*/

.logo-hex svg {
	position: relative;
	width: 6rem;
	height: 6rem;
	clip-path: var(--hex-cut);
	background: var(--dark-purple);
}

.logo-wrap {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 2rem;	
}
.logo-hex {
  	position: relative;
  	display: inline-block;
}

#logo{
	width: 100px;
	height: 100px;
	will-change: transform;
}

.logo-hex-underline:hover {
	filter: drop-shadow(0 0 8px var(--tran-purple)) drop-shadow(0 0 20px var(--tran-purple));
}



/* Sidebar Navigation Below*/

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	height: 100vh;
	width: var(--sidebar-width);
	background: var(--black);
	z-index: 100;
	border-right: none;

	transform: translateX(calc(-1 * var(--sidebar-width)));
	transition: transform 0.3s ease-out, background-color 0.3s, border-right-color 0.3s;
	overflow: hidden;
}

.sidebar.open {
	transform: translateX(0);
	border-right: 2px solid var(--tran-purple);
}

.sidebar-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 5rem;
	height: 100%;
}

.ul-nav {
	list-style: none;
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 0;
	margin: 0;
}

.nav-link { 
	color: inherit;
	text-decoration: none;
	display: block;
	cursor: pointer;
	position: relative;
	z-index: 1;
}

.li-nav {
	position: relative;
	padding: 1rem 1.5rem;
	font-family: 'topazplus';
	letter-spacing: 0.1em;
	text-transform: uppercase;
	color: var(--purple);
	transition: color 0.2s, text-shadow 0.2s;
	text-align: center;
}

.li-nav:hover::before, .sidebar-button:hover {
	box-shadow: inset 0 0 12px var(--tran-purple), 0 0 8px var(--tran-purple), 0 0 20px var(--tran-purple);
}


.li-nav::before {
	content: '';
	position: absolute;
	inset: 0;
	border: 6px solid transparent;
	z-index: 1; /*Makes the li-nav a be clickable in the .li-nav*/
}

.li-nav::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	width: 0;
	height: 5px;
	background: var(--purple);
	transition: width 0.5s ease;
}

.li-nav:hover::after {
	width: 67.67%; /* ⁶🤷⁷ */
}
