<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/CSS/main.css" />
    <link rel="stylesheet" href="/components/codeblock/codeblock.css">
    <script type="module" src="/components/codeblock/codeblock.js"></script>    
</head>
<body>

    <code-block language="python" title="Hello World">print("Hello World")
    </code-block>

    <code-block language="javascript" title="Codeblock Test" src="/components/codeblock/test.html">
    </code-block>
    
</body>
</html>